<table crCornerResize>
  <thead>
   <tr>
    <th>Col1</th>
    <th>Col2</th>
    <th>Col3</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <td>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis. </td>
    <td>
      Morbi eu dapibus quam. Praesent ullamcorper risus ac elit elementum. 
    </td>
    <td>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Aliquam non ultrices sem. Donec malesuada, velit elementum cursus vestibulum, 
      tortor ipsum consectetur arcu, quis rhoncus tortor mauris ac ligula. Aliquam arcu. 
    </td>
   </tr>
  </tbody>
 </table>

 <br><br><br><br><br><br>

<table crEdgeResize="pink">
  <thead>
    <tr>
      <th>Col1</th>
      <th>Col2</th>
      <th>Col3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis. </td>
      <td>
        Morbi eu dapibus quam. Praesent ullamcorper risus ac elit elementum. 
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Aliquam non ultrices sem. Donec malesuada, velit elementum cursus vestibulum, 
        tortor ipsum consectetur arcu, quis rhoncus tortor mauris ac ligula. Aliquam arcu. 
      </td>
    </tr>
  </tbody>
</table>
  