<table id="tableId" crCornerResize>
  <thead>
   <tr>
     <!-- <div style="resize: horizontal; overflow: scroll"> -->
     <th>
         RNO
     </th>
     <!-- </div> -->
    <th>Size</th>
    <th>File</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <td><input type="checkbox" /></td>
    <td>10Mb</td>
    <td>C:\Users\BrainBell\Desktop\Empty\abc.txt</td>
   </tr>
  </tbody>
 </table>

 <br><br>

 <table id="tableId" crEdgeResize="blue">
  <thead>
   <tr>
     <!-- <div style="resize: horizontal; overflow: scroll"> -->
     <th>
         RNO
     </th>
     <!-- </div> -->
    <th>Size</th>
    <th>File</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <td><input type="checkbox" /></td>
    <td>10Mb</td>
    <td>C:\Users\BrainBell\Desktop\Empty\abc.txt</td>
   </tr>
  </tbody>
 </table>